.paper-border {
    width: 100%;
    min-width: 800px;
}

.paper-border .paper-wrapper {
    border-radius: 10px;
    padding: 10px;
    /* background-color: aqua; */
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.3);
}

.paper-wrapper .section {
    line-height: 1.2em;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.paper-wrapper .section span {
    text-transform: uppercase;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.paper-wrapper .section::first-letter {
    font-size: 1.3em;
}

/* title */
.paper-wrapper .title {
    /* background-color: greenyellow; */
    text-align: left;
}

.paper-wrapper .title h1 {
    font-family: 'ZillaSlab-Bold', sans-serif;
    font-size: 2.2em;
    line-height: 1.1em;
}

/* 
.paper-wrapper .title h1::first-letter {
    font-size: 2.3em;
}
*/

/* spilt line */
.paper-wrapper .split {
    width: 100%;
    margin: 10px auto;
    height: 2px;
    border: none;
    background-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.3) 50%, transparent 100%);
}

/* common styles */
.horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.horizontal-list-item {
    margin: 0 10px;
}

/* author */
/* .paper-wrapper .author-list {} */

.paper-wrapper .author-list .author-item {
    position: relative;
    display: flex;
    flex-direction: row;
    cursor: default;
    margin-top: 5px;
}

.paper-wrapper .author-list .author-item .avatar {
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    /* background-color: purple; */
}

.paper-wrapper .author-list .author-item .avatar img {
    width: 100%;
}


.paper-wrapper .author-list .author-item .name {
    align-self: center;
    margin: 5px;
}

.paper-wrapper .author-list .author-item .clickable {
    color: darkblue;
}

.paper-wrapper .author-list .author-item .clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}


.paper-wrapper .author-list .author-item i {
    align-self: center;
    font-size: 1.5em;
}

.paper-wrapper .author-list .author-item i:hover {
    cursor: pointer;
}

/* tooltip */
.paper-wrapper .author-list .author-item .tooltip {
    display: inline-block;
    position: absolute;
    right: -20px;
    bottom: -32px;
    padding: 0px 10px 2px 10px;
    z-index: -1;
    opacity: 0%;
    transition: 0.2s;
}

.paper-wrapper .author-list .author-item .tooltip .box {
    position: absolute;
    right: 22px;
    top: 0px;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(135deg, #e6b980 0%, #eacda3 100%);
    transform: rotate(45deg);
    z-index: -1;
}

.paper-wrapper .author-list .author-item .tooltip:hover {
    z-index: 5;
    opacity: 100%;
    cursor: text;
}

.paper-wrapper .author-list .author-item i:hover~.tooltip {
    z-index: 5;
    opacity: 100%;
}

.paper-wrapper .author-list .author-item .email {
    padding: 4px 5px;
    border-radius: 10px;
    line-height: normal;
    white-space: nowrap;
    background-image: linear-gradient(135deg, #e6b980 0%, #eacda3 100%);
}

/* keywords */
/* .paper-wrapper .keywords-list {} */

.paper-wrapper .keywords-list .keyword {
    margin: 0 10px;
    display: flex;
    line-height: normal;
}

.paper-wrapper .keywords-list .keyword span {
    align-self: center;
    text-transform: capitalize;
}

.paper-wrapper .keywords-list .keyword i {
    align-self: center;
    transform: scale(0.5);
}

/* area */
.paper-wrapper .area-list .area {
    margin: 0 10px;
    display: flex;
    line-height: normal;
}

.paper-wrapper .area-list .area span {
    align-self: center;
    text-transform: capitalize;
}

.paper-wrapper .area-list .area i {
    align-self: center;
    transform: scale(0.5);
}


/* time */
/* .paper-wrapper .time-wrapper {} */
.paper-wrapper .time-wrapper .time-type {
    font-weight: bold;
}

/* shards */
.paper-wrapper .shard-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}

/* stats */
.shard-wrapper .stat-wrapper {
    flex: 1;
    justify-content: left;
    margin-left: 10px;
}


.shard-wrapper .stat-wrapper .stat {
    margin: 5px;
    cursor: default;
}

.shard-wrapper .stat-wrapper .stat i {
    margin-right: 2px;
    cursor: pointer;
}

.shard-wrapper .action-wrapper {
    flex: 1;
    justify-content: right;
    margin-right: 10px;
}

.shard-wrapper .action-wrapper .action {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    background-image: linear-gradient(135deg, #e6b980 0%, #eacda3 100%);
    border-radius: 10px;
    transition: 0.3s;
}

.shard-wrapper .action-wrapper .action:hover {
    opacity: 80%;
    cursor: pointer;
    transform: scale(1.1);
}

.shard-wrapper .action-wrapper .action i {
    width: 100%;
    height: 100%;
    font-size: 1.3em;
}

/* abstract */
.paper-wrapper .abstract-wrapper {
    width: 100%;
    padding: 10px 30px;
}

.abstract-wrapper p {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5em;
}

.abstract-wrapper p::first-letter {
    initial-letter: 2;
    font-family: 'ZillaSlab';
    text-transform: uppercase;
}

/* reference */
.paper-wrapper .ref-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 30px;
}

.paper-wrapper .ref-list hr {
    width: 100%;
    margin: 5px 0px;
    height: 1px;
    border: none;
    background-image: linear-gradient(90deg, transparent 0, rgba(0, 0, 0, 0.3) 10%, transparent 80%);
}

.ref-list .ref {
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: left;
}

.ref-list .ref .bullet {
    margin-right: 0.5em;
}

.ref-list .ref .text {
    font-size: 1.1em;
}

/* related papers */
.paper-wrapper .related-list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    justify-content: center;
}

.paper-wrapper .related-list .prompt {
    text-align: center;
}

.related-list .related-item {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 2px 10px 10px 10px;
    background-image: linear-gradient(135deg, #e6b980 0%, #eacda3 100%);
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.related-list .related-item:hover {
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.related-list .related-item h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.related-list .related-item .keywords {
    text-transform: capitalize;
    line-height: 1em;
}

.related-list .related-item .keywords b {
    display: inline;
}

.related-list .related-item .keywords ul {
    display: inline-block;
}

.related-list .related-item .keywords .keyword {
    display: inline-block;
    font-size: 0.8em;
    white-space: nowrap;
}