.review-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 0 0 10px 10px;
}

.review-wrapper .comment-wrapper {
    flex: 5;
}

.review-wrapper .comment-wrapper .comment-title {
    text-align: left;
}

.review-wrapper .comment-wrapper .comment-text {
    width: 100%;
    height: 150px;
}

.review-wrapper .comment-wrapper .comment-text textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

.review-wrapper .button-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.review-wrapper .button-wrapper .status-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.review-wrapper .button-wrapper .status-wrapper .status {
    flex: 1;
    font-size: 3em;

    margin: 5px;
    border-radius: 10px;

    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 0%, rgba(143, 152, 157, 0.60) 100%);
    background-blend-mode: normal, multiply;

    cursor: pointer;
    transition: 0.3s;
}

.review-wrapper .button-wrapper .status-wrapper .status:hover {
    opacity: 0.9;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.review-wrapper .button-wrapper .submit-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: 3em;
    line-height: 100%;
    justify-self: center;
    justify-content: center;

    margin: 5px;
    border-radius: 10px;
    background-color: red;
}

.review-wrapper .button-wrapper .submit-wrapper .submit {
    width: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background-image: linear-gradient(135deg, #209cff 0%, #68e0cf 100%);
    border-radius: 10px;
    transition: 0.3s;
}

.review-wrapper .button-wrapper .submit-wrapper .submit:hover {
    opacity: 0.9;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* status */
.review-wrapper .button-wrapper .status-wrapper .reject {
    background-image: linear-gradient(135deg, #ff0844 0%, #ffb199 100%);
}

.review-wrapper .button-wrapper .status-wrapper .pass {
    background-image: linear-gradient(135deg, #0fd850 0%, #f9f047 100%);
}